<div class="menu-links d-flex ">
    <h3>JOB</h3>
    <img src="../../assets/icons8-permanent-job-50.png">

    <a class="nav-link" routerLink="employee/all-employee">
        <i class="fas fa-users"></i>
        All Employees
    </a>
    <a class="nav-link">
        <button type="button" class="add-button" (click)="download()">
            <i class="fas fa-download"></i> 
        </button>Download
    </a>
    <a class="nav-link" routerLink="employee/add-employee">
        <i class="fas fa-plus"></i>
        Add Employee
    </a>
</div>
