.card {
    width: 300px; /* גודל קטן */
    background-color: #464646; /* צבע רקע */
    border: 1px solid #464646; /* גבול */
    border-radius: 5px; /* ריסוף זוויות */
    text-align: center;
}

.card-body {
    padding: 15px; /* מרווח פנימי */
}

.card-title {
    color: #28c19b; /* צבע כותרת */
    font-size: 1.5rem; /* גודל כותרת */
}

.role-group {
    margin-bottom: 10px; /* מרווח בין תפקידים */
}

.btn-outline-danger {
    color: #dc3545; /* צבע כפתור מסוג דאנג'ר */
    border-color: #dc3545; /* צבע גבול כפתור */
}

.btn-outline-danger:hover {
    background-color: #dc3545; /* צבע רקע בעת העברת העכבר */
    color: white; /* צבע טקסט בעת העברת העכבר */
}

.btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); /* הדגשה בעת קליק */
}


.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    color: #28c19b;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .select-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-add-role {
    margin-bottom: 20px;
  }
  
  .role-group {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .role-group label {
    font-weight: bold;
  }
  
  .btn-remove-role {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-remove-role:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-add-role {
    color: #fff; /* צבע טקסט לבן */
    background-color: #444343; /* צבע רקע */
    border-color: #444343; /* צבע מסגרת */
    padding: 10px 20px; /* מרווחים בפנים */
    cursor: pointer; /* מצביע יד */
    border-radius: 10px; /* רינוע עגול */
    font-size: 16px; /* גודל פונט */
    display: block; /* תצוגה בלוק */
    margin: 0 auto; /* מרווחים אוטומטיים משמאל ומימין */
}

  
  .btn-add-role:hover {
    background-color: #333;
    border-color: #333;
  }
  
  .btn-save {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-save:hover {
    background-color: #444343;
    border-color: #444343;
  }

.card {
  width: 60%; /* רוחב הכרטיס */
  margin: auto; /* מרכז הכרטיס בדף */
  border-radius: 20px;
  background-color: #444343; /* צבע הכרטיס הראשי */
  color: #28c19b;
  padding: 20px;
}

.role-card {
  border-radius: 20px;
  background-color: #333; /* צבע הכרטיס של התפקיד */
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.form-group:focus-within input {
  border: 2px solid #333; /* סגנון מסגרת כאשר פעיל */
}

.form-group input {
  border: 2px solid #28c19b; /* סגנון מסגרת כאשר לא פעיל */
}

#save {
  background-color: #28c19b; /* צבע ירוק */
  color: white; /* צבע טקסט לבן */
  padding: 14px 20px; /* מרווחים בפנים */
  margin: 8px 0; /* מרווחים מעלה ולמטה */
  border: none; /* אין מסגרת */
  cursor: pointer; /* מצביע יד */
  border-radius: 10px; /* רינוע עגול */
  width: 100%; /* רוחב מלא */
  font-size: 16px; /* גודל פונט */
}

button#save:hover {
  background-color: #28c19b; /* צבע ירוק כהה */
}

#title{
  text-align: center;
  color: #28c19b;
}