@import url('https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css');
.footer {
    background-color: #333; /* רקע אפור כהה */
    color: #28c19b; /* כיתוב בצבע #28c19b */
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

